<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ThreadCount" value="50"/>
    <add key="GrossIncomeFormula" value="[AnnualIncome]/12"/>
    <add key="IncomeTaxFormula" value="([TaxDiscountBase] + ([AnnualIncome] - ([BaseIncome]-1)) * [TaxRate]) / 12"/>
    <add key="NetIncomeFormula" value="[AnnualIncome]/12 - (([TaxDiscountBase] + ([AnnualIncome] - ([BaseIncome]-1)) * [TaxRate]) / 12)"/>
    <add key="SuperFormula" value="[AnnualIncome]*([Super]/10)/12"/>
  </appSettings>
</configuration> 